MINIO_ENDPOINT_URL="http://my-minio-endpoint.example.com"
MINIO_ROOT_USER="example_minio_user"
MINIO_ROOT_PASSWORD="example_minio_password"

MONGO_INITDB_ROOT_USERNAME="example_mongo_username"
MONGO_INITDB_ROOT_PASSWORD="example_mongo_password"

MONGO_HOST="localhost"
MONGO_PORT="27017"
MONGO_DATABASE="aves"
MONGO_AUTH_DATABASE="admin"

AWS_ACCESS_KEY_ID="ACCESS_KEY"
AWS_SECRET_ACCESS_KEY="SECRET_KEY"
